
/* Your CSS Code here. */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
  color: white;
}

.player {
  max-width: 800px;
  border: 5px solid #444;
  background: #000;
  position: relative;
}

.player__video {
  width: 100%;
  height: auto;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: #222;
}

.player__button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.player__slider {
  width: 20%;
}

.progress {
  flex: 1;
  background: #555;
  height: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.progress__filled {
  width: 0;
  background: #e91e63;
  height: 100%;
  flex-basis: 0;
}
